# Backend (findColor)
findColor/target/
findColor/*.jar
findColor/*.war
findColor/*.ear
findColor/.mvn/wrapper/maven-wrapper.jar
findColor/.env
findColor/HELP.md

# Frontend (findColorFE)
findColorFE/node_modules/
findColorFE/dist/
findColorFE/dist-ssr/
findColorFE/*.local
findColorFE/.vscode/
findColorFE/.idea/
findColorFE/npm-debug.log*
findColorFE/yarn-debug.log*
findColorFE/yarn-error.log*
findColorFE/.DS_Store

# OS Files
.DS_Store
Thumbs.db
